.settings-container {
  text-align: center;
  padding: 2rem;
  margin-top: 120px;

  h2 {
    font-size: 35px;
  }

  button {
    background-color: #42a5f5;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s;

    &:hover {
      background-color: #1e88e5;
    }
  }
}

@media (max-width: 786px ) {
  .settings-container {
  margin-top: 10px;
  }
}
