.filter-logs {
  margin: 50px 120px;

  h2 {
    font-size: 35px;
  }

  app-filter {
    display: block;
    margin-bottom: 20px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  li {
    background: #f7f9fc;
    border: 1px solid #e4e8ee;
    padding: 14px 18px;
    border-radius: 10px;

    font-size: 15px;
    font-weight: bold;
    line-height: 1.4;
    color: #333;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: 0.2s ease;
  }

 
  li strong {
    font-weight: 600;
    color: #305d8d;
  }

  li:hover {
    background: #eef4ff;
    border-color: #d0dcff;
    transform: translateY(-2px);
  }
}

.no-logs {
  text-align: center;
  color: #888;
  font-size: 15px;
  padding: 30px 0;
}

.log-list-container {
  max-width: 1010px;
  margin: 20px auto;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .log-item {
    position: relative;
    border: 1px solid #ccc;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;

    h3 {
      margin: 0 0 5px 0;
    }

    p {
      margin: 3px 0;
    }

    button {
      position: absolute;
      top: 60px;
      right: 20px;
      padding: 8px 12px;
      border: none;
      border-radius: 5px;
      background-color: #d32f2f;
      color: white;
      cursor: pointer;

      &:hover {
        background-color: #b71c1c;
      }
    }
  }
}

@media (max-width: 1024px) {
  .filter-logs {
    margin: 40px 80px;

    h2 {
      font-size: 28px;
    }

    li {
      font-size: 14px;
      padding: 12px 15px;
    }
  }

  .log-list-container {
    max-width: 90%;
    padding: 0 80px;

    .log-item {
      padding: 12px;
      button {
        top: 50px;
        right: 15px;
      }
    }
  }
}

@media (max-width: 768px) {
  .filter-logs {
    margin: 20px 10px;

    h2 {
      font-size: 24px;
      text-align: center;
    }

    app-filter {
      margin-bottom: 15px;
    }

    li {
      flex-direction: column;
      align-items: flex-start;
      gap: 6px;

      padding: 12px;
      font-size: 13px;
    }
  }

  .log-list-container {
    max-width: 100%;
    padding: 0 10px;

    h2 {
      font-size: 24px;
    }

    .log-item {
      padding: 12px;

      h3 {
        font-size: 16px;
      }

      p {
        font-size: 14px;
      }

      button {
        position: static;
        margin-top: 10px;
        align-self: flex-start;
      }
    }
  }
}

@media (max-width: 480px) {
  .filter-logs {
    margin: 15px 5px;

    h2 {
      font-size: 20px;
    }

    li {
      font-size: 12px;
      padding: 10px;
      gap: 4px;
    }
  }

  .log-list-container {
    .log-item {
      padding: 10px;

      h3 {
        font-size: 15px;
      }

      p {
        font-size: 13px;
      }

      button {
        font-size: 12px;
        padding: 6px 10px;
      }
    }
  }
}
